@tailwind base;
@tailwind components;
@tailwind utilities;

body{
  background-color: black;
}
.header{
  background-image: url(./Images/background.jpg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}
.nav{
  background-color: rgba(255, 255, 255, 0.493);
}